.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.example-header-image1 {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-card {
  background: none;
}

.mat-card-title {
  font-size: 15px;
  font-weight: 600;
}
